*{
  margin: 0;
  padding: 0;
}
body{
  background: white;
  font-size: 14px;
}
.container{
  width: 80%;
  margin: 50px auto;
}
.contact-box{
  background: rgb(245, 246, 243);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
}
/* .contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background:greenyellow;
  color: white;
}
h1{
  margin-bottom: 10px;
} */

/* 
html{
  background-color:rgb(214, 245, 168) ;
}

.container{
  margin: 50px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.container h1{
  align-items: center;
  margin: 20px;
}
.container p{
  align-items: center;
  margin: 20px;
}
button{
  width: 60px;
  margin-top: 20px;
} */




.contact-left{
  flex-basis: 60%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 40px 60px;
}
.contact-right{
  flex-basis: 40%;
  padding: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: green;
  color:rgb(247, 241, 241);
}
h1{
  margin-bottom: 10px;

}
.container p{
  margin-bottom: 10px;
  font-size: 15px;
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-grp{
  flex-basis: 45%;
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
#Query{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}
button{
  background: green;
    width: 123px;
    border: none;
    outline: none;
    color: white;
    height: 49px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.5);
  
}
.contact-left h3{
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}
